// Templates & variables
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500;600;700;900&display=swap');

$primary: #ec5242;
$primary-shade1: #ff4f38;
$secondary: #272a31;
$secondary-shade1: #555555;
$secondary-shade2: #d3d3d3;
$background: #f7f7f7;

@mixin welcomeHeadings {
  h1 {
    font-weight: 900;
    font-size: 30px;
  }
  
  h2 {
    font-weight: 400;
    font-size: 20px;
    color: $primary-shade1;
  }
  
  h3 {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  h4 {
    font-size: 12px;
  }
}

// Global
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Encode Sans', Arial, sans-serif;
  color: $secondary-shade1;
  margin: 0;
}

p {
  font-weight: 500;
  line-height: 1.7em;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h3 {
  margin-top: 32px;
  margin-bottom: 11px;
}

hr {
  width: 31px;
  border: 1px solid $primary;
  margin: 0;
  margin-bottom: 24px;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  font-family: 'Encode Sans', Arial, sans-serif;
}

a:link {
  font-weight: 700;
  color: $secondary-shade1;
}

// Global classes
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.desktop-only {
  display: none;
}

.button {
  background-color: $primary-shade1;
  border: none;
  color: $background;
  font-size: 16px;
  font-weight: 400;
  padding: 26px 42px;
}

.white-box {
  background-color: white;
  border: 2px solid $secondary-shade2;
  padding: 19px;
}

// Debug only
.DEBUG-DISPLAY-NONE {
  display: none;
}

// Nav
.nav-container {
  position: fixed;
  z-index: 100;
}

nav {
  width: 100%;
  padding: 18px 26px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26px;
  width: 29px;
}

.hamburger-line {
  width: 100%;
  border-bottom: 5px solid $secondary-shade1;
}

// MAIN PAGE
// Welcome
.bg-welcome {
  background-image: url('../../images/backgrounds/bg-welcome.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.welcome-content-container {
  @include welcomeHeadings();
  padding: 99px 18px 74px 18px;

  h3 {
    margin-top: 16px;
  }
}

.welcome-title {
  background-image: url('../../images/backgrounds/abstract-prism.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.welcome-description {
  background-color: $background;
  border: 3px solid white;
  margin: 24px 0 16px 0;
  padding: 19px;
}

// Program
.bg-program {
  background-image: url('../../images/backgrounds/x-pattern.svg');
  background-position: center center;
}

.program-content-container {
  padding: 0 12px 36px 12px;

  h3 {
    color: $background;
  }

  h4 {
    width: 90px;
    min-width: 90px;
    color: $primary;
  }

  p {
    color: $background;
  }

  .button {
    margin-top: 26px;
  }
}

.program-card {
  background-color: rgba($color: white, $alpha: 0.1);
  margin-bottom: 8px;
  padding: 13px;
  padding-left: 0;
}

// Speakers
.speakers-content-container {
  hr {
    margin-bottom: 37px;
  }
}

.speaker-card-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 33px;
  margin: 0 13px 36px 13px;
}

.speaker-card {
  display: flex;

  h4 {
    font-size: 14px;
    margin-bottom: 3px;
  }

  h5 {
    color: $primary;
    font-size: 11px;
    font-weight: 500;
    font-style: italic;
  }

  hr {
    width: 14px;
    border: 1px solid $secondary-shade2;
    margin-top: 10px;
    margin-bottom: 12px;
  }

  p {
    font-size: 10px;
    line-height: normal;
  }
}

.speaker-img-container {
  position: relative;
  width: 104px;
  min-width: 104px;
  height: 104px;
  min-height: 104px;
  margin-right: 17px;
  background-image: url('../../images/backgrounds/chess-pattern.svg');
  background-repeat: no-repeat;

  img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 92px;
    height: 92px;
    object-fit: cover;
    object-position: 0 0;
  }
}

.speaker-info {
  display: flex;
  flex-direction: column;
}

// ABOUT PAGE
// About
.about-content-container {
  @include welcomeHeadings();
  padding: 83px 18px 74px 32px;

  h1,
  h2,
  p {
    text-align: center;
  }

  h1 {
    color: $primary-shade1;
    margin-top: 17px;
  }

  .white-box {
    margin: 43px 0 23px 0;
  }
}

// Logo
.logo-content-container {
  padding: 0 23px;
  text-align: center;

  .white-box {
    width: 100%;
    margin: 34px 0;
  }
}

// Past events
.past-content-container {
  text-align: center;
  padding: 0 38px;
}

.past-card-container {
  margin-top: 32px;
  margin-bottom: 36px;
}

.past-card-container > *:last-child {
  margin-bottom: 0;
}

.past-card {
  width: 300px;
  height: 165px;
  background-color: $primary;
  margin-bottom: 14px;

  h4 {
    font-size: 26px;
    font-weight: 700;
    color: $background;
    margin-bottom: 13px;
  }

  p {
    font-size: 13px;
    font-weight: 600;
    color: $background;
  }
}

// Partner
.partners-bg {
  background-color: $secondary-shade1;
}

.partner-content-container {
  h3 {
    color: $background;
  }
}

// Footer
.footer-content-container {
  padding: 35px 42px;
}