// Templates & variables
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500;600;700;900&display=swap');

$primary: #ec5242;
$primary-shade1: #ff4f38;
$secondary: #272a31;
$secondary-shade1: #555;
$secondary-shade2: #d3d3d3;
$background: #f7f7f7;

$desktop-max-width: 1036px;

// Global
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Encode Sans', Arial, sans-serif;
  color: $secondary-shade1;
  margin: 0;
}

p {
  font-weight: 500;
  line-height: 1.7em;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h3 {
  margin-top: 32px;
  margin-bottom: 11px;
}

hr {
  width: 31px;
  border: 1px solid $primary;
  margin: 0;
  margin-bottom: 24px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

button {
  font-family: 'Encode Sans', Arial, sans-serif;
}

// Global classes
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.desktop-only-block,
.desktop-only-flex {
  display: none;
}

.button {
  background-color: $primary-shade1;
  border: none;
  color: $background;
  font-size: 16px;
  font-weight: 400;
  padding: 26px 42px;
}

.white-box {
  background-color: white;
  border: 2px solid $secondary-shade2;
  padding: 19px;
}

.mobile-hide {
  opacity: 0;
  pointer-events: none;
}

// Nav
.all-nav-container {
  position: fixed;
  z-index: 100;
  width: 100vw;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26px;
  width: 29px;
  margin: 18px 26px;
}

.hamburger-line {
  width: 100%;
  border-bottom: 5px solid $secondary-shade1;
}

.hamburger:hover .hamburger-line {
  border-bottom: 5px solid $primary;
}

nav {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 17px 26px;
  background-color: $background;
  transition: opacity 500ms ease;
}

.x {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 29px;
  margin-bottom: 30px;
}

.x-line {
  position: absolute;
  width: 100%;
  border-bottom: 5px solid $secondary-shade1;
}

.x-line:first-child {
  transform: rotate(45deg);
}

.x-line:last-child {
  transform: rotate(-45deg);
}

.x:hover .x-line {
  border-bottom: 5px solid $primary;
}

.menu-list {
  a {
    text-decoration: none;
    color: $secondary-shade1;
    font-size: 26px;
    font-weight: 700;
    line-height: 2.2em;
  }

  a:hover {
    color: $primary;
  }
}

// MAIN PAGE
// Welcome
.bg-welcome {
  background-image: url('../../images/backgrounds/bg-welcome.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.welcome-content-container {
  padding: 99px 18px 74px 18px;

  h1 {
    font-weight: 900;
    font-size: 30px;
  }

  h2 {
    font-weight: 400;
    font-size: 20px;
    color: $primary-shade1;
  }

  h3 {
    font-weight: 800;
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 8px;
    text-align: left;
  }

  h4 {
    font-size: 12px;
  }
}

@supports (-webkit-background-clip: text) {
  .welcome-title {
    background-image: url('../../images/backgrounds/abstract-prism.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-clip: text;
    color: transparent;
  }
}

@supports not (-webkit-background-clip: text) {
  .welcome-title {
    color: $primary-shade1;
  }
}

.welcome-description {
  background-color: $background;
  border: 3px solid white;
  margin: 24px 0 16px 0;
  padding: 19px;
}

// Program
.bg-program {
  background-image: url('../../images/backgrounds/x-pattern.svg');
  background-position: center center;
}

.program-content-container {
  padding: 0 12px 36px 12px;

  h3 {
    color: $background;
  }

  h4 {
    width: 90px;
    min-width: 90px;
    padding-right: 10px;
    color: $primary;
  }

  p {
    color: $background;
  }

  .button {
    margin-top: 26px;
  }
}

.program-card {
  background-color: rgba($color: white, $alpha: 0.1);
  margin-bottom: 8px;
  padding: 13px;
  padding-left: 0;
}

// Speakers
.speakers-content-container {
  hr {
    margin-bottom: 37px;
  }
}

.speaker-card-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 33px;
  margin: 0 13px 36px 13px;
}

.speaker-card {
  display: flex;

  h4 {
    font-size: 14px;
    margin-bottom: 3px;
  }

  h5 {
    color: $primary;
    font-size: 11px;
    font-weight: 500;
    font-style: italic;
  }

  hr {
    width: 14px;
    border: 1px solid $secondary-shade2;
    margin-top: 10px;
    margin-bottom: 12px;
  }

  p {
    font-size: 10px;
    line-height: normal;
  }
}

.speaker-img-container {
  position: relative;
  width: 104px;
  min-width: 104px;
  height: 104px;
  min-height: 104px;
  margin-right: 17px;
  background-image: url('../../images/backgrounds/chess-pattern.svg');
  background-repeat: no-repeat;

  img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 92px;
    height: 92px;
    object-fit: cover;
    object-position: 0 0;
  }
}

.speaker-info {
  display: flex;
  flex-direction: column;
}

// ABOUT PAGE
// About
.about-content-container {
  padding: 83px 18px 74px 18px;

  h1 {
    font-weight: 900;
    font-size: 30px;
    color: $primary-shade1;
    margin-top: 17px;
  }

  h2 {
    font-weight: 400;
    font-size: 20px;
    color: $primary-shade1;
  }

  h3 {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 8px;
  }

  h4 {
    font-size: 12px;
  }

  h1,
  h2,
  p {
    text-align: center;
  }

  a:link {
    font-weight: 700;
    color: $secondary-shade1;
  }

  .white-box {
    margin: 43px 0 23px 0;
  }
}

// Logo
.logo-content-container {
  padding: 0 23px;
  text-align: center;

  .white-box {
    width: fit-content;
    margin: 34px 0;
    padding: 17px 70px;
  }
}

.logo-section > *:last-child {
  width: 100%;
  border: 1px solid $secondary-shade2;
}

// Past events
.past-content-container {
  text-align: center;
  padding: 0 38px;
}

.past-card-container {
  margin-top: 32px;
  margin-bottom: 36px;
}

.past-card-container > *:last-child {
  margin-bottom: 0;
}

.past-card-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.past-card {
  width: 300px;
  height: 165px;
  background-color: rgba($color: #ff1e00, $alpha: 0.6);
  margin-bottom: 14px;

  h4 {
    font-size: 26px;
    font-weight: 700;
    color: $background;
    margin-bottom: 13px;
  }

  p {
    font-size: 13px;
    font-weight: 600;
    color: $background;
  }
}

// Partners
.partners-bg {
  background-color: #414245;
}

.partner-content-container {
  padding-bottom: 38px;

  h3 {
    color: $background;
  }
}

.partners-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;

  img {
    transform: scale(0.55);
  }
}

// Footer
.footer-content-container {
  padding: 35px 42px;

  img {
    width: 65px;
    margin-right: 36px;
  }
}

// DESKTOP
@media screen and (min-width: 768px) {
  // Global
  h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
  }

  hr {
    width: 50px;
    margin-bottom: 50px;
  }

  // Global classes
  .mobile-only {
    display: none;
  }

  .mobile-hide {
    opacity: 1;
    pointer-events: auto;
  }

  .desktop-only-block {
    display: block;
  }

  .desktop-only-flex {
    display: flex;
  }

  // NAV
  .all-nav-container {
    box-shadow: 0 2px 10px 1px rgba($color: $secondary, $alpha: 0.075);
  }

  .top-nav-container {
    background-color: $secondary;
  }

  .social-media {
    img {
      width: 18px;
      height: 18px;
    }

    li {
      margin-right: 12px;
    }
  }

  .menu-list a {
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: $secondary-shade1;
  }

  .top-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    max-width: $desktop-max-width;
    height: 36px;
    margin: 0 30px;

    a {
      text-decoration: none;
      color: $background;
    }

    a:hover {
      color: $primary;
    }

    li {
      font-size: 12px;
      font-weight: 400;
      margin-right: 20px;
    }

    li:last-child {
      margin-right: 0;
    }

    ul:first-child {
      margin-right: 24px;
    }
  }

  nav {
    position: static;
    display: flex;
    justify-content: center;
    background-color: white;
    height: 75px;
    padding: 0 30px;
  }

  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $desktop-max-width;

    .logo {
      height: 55px;
      margin-right: 70px;
    }

    img {
      max-height: 100%;
      width: auto;
    }
  }

  .menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 666px;

    a:hover {
      color: $primary;
    }

    li:last-child {
      padding: 7px 15px;
      border: 4px solid $primary;

      a {
        color: $primary;
      }
    }
  }

  .spacer {
    height: 111px;
  }

  // MAIN PAGE
  .welcome-content-container {
    width: 100%;
    max-width: $desktop-max-width;
    padding: 125px 30px 165px 30px;

    h2 {
      font-size: 42px;
    }

    h1 {
      max-width: 800px;
      font-size: 72px;
    }

    p {
      font-size: 15px;
    }

    h3 {
      font-size: 36px;
    }

    h4 {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .welcome-description {
    max-width: 636px;
  }

  // Program
  .program-content-container {
    max-width: $desktop-max-width;
    margin: 0 30px 95px 30px;
    padding: 0;
  }

  .program-card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
  }

  .program-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
    padding: 10px 18px 25px 18px;
    margin-bottom: 0;

    h4 {
      font-size: 19px;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 15px;
      padding: 0;
    }

    p {
      font-size: 13px;
      font-weight: 400;
    }
  }

  .see-program {
    margin-top: 70px;
    color: $background;
  }

  .see-program:hover {
    color: $primary;
  }

  .see-program:visited {
    color: $background;
  }

  // Speakers
  .bg-speakers {
    background-color: $background;
  }

  .speakers-content-container {
    padding: 0 30px 95px 30px;

    hr {
      margin-bottom: 50px;
    }
  }

  .speaker-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: $desktop-max-width;
    column-gap: 27px;
    margin: 0;
  }

  .speaker-card {
    h4 {
      font-size: 22px;
      margin-top: 12px;
      margin-bottom: 10px;
    }

    h5,
    p {
      font-size: 12px;
      line-height: 1.7em;
    }

    hr {
      width: 24px;
      margin-bottom: 18px;
    }
  }

  .speaker-img-container {
    width: 168px;
    min-width: 168px;
    height: 168px;
    min-height: 168px;
    background-size: 77px;
    margin-right: 25px;

    img {
      width: 150px;
      height: 150px;
    }
  }

  // Partners
  .partner-content-container {
    padding: 0 30px 62px 30px;
  }

  .partners-logo-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 858px;

    img {
      transform: scale(1);
    }
  }

  // Footer
  .bg-footer {
    background-color: $background;
  }

  .footer-content-container {
    display: flex;
    align-items: center;
    padding: 70px 30px 90px 30px;

    img {
      width: 150px;
      margin-right: 64px;
    }

    p {
      font-size: 16px;
      font-weight: 600;
    }
  }

  // ABOUT PAGE
  // Body
  .page-about {
    p {
      font-size: 16px;
    }

    hr {
      width: 24px;
      margin-top: 18px;
      margin-bottom: 18px;
    }
  }

  // About
  .about-content-container {
    padding-bottom: 100px;

    h2 {
      font-size: 28px;
    }

    h1 {
      font-size: 50px;
      color: $primary-shade1;
      max-width: 600px;
    }

    hr {
      margin-top: 27px;
      margin-bottom: 33px;
    }

    .white-box {
      max-width: 862px;
      margin-top: 0;
      margin-bottom: 55px;
    }
  }

  // Logo
  .logo-content-container {
    .white-box {
      margin: 50px 0;
    }
  }

  // Past
  .past-card-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 400px));
    gap: 25px;
    margin-top: 68px;
    margin-bottom: 115px;
  }

  .past-card {
    width: 100%;
    height: 220px;
    margin: 0;
    padding: 15px;

    h4 {
      font-size: 32px;
    }

    p {
      font-size: 17px;
    }
  }
}
