// Variables
$grey: #555555;

// Global
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

// Debug only
.DEBUG-display-none {
  display: none;
}

// Global classes
.desktop-only {
  display: none;
}

// Nav
.nav-container {
  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  padding: 18px 26px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26px;
  width: 29px;
}

.hamburger-line {
  width: 100%;
  border-bottom: 5px solid $grey;
}